In [4]:
import pandas as pd

In [5]:
new_merchant_transactions = pd.read_csv("../data/new_merchant_transactions.csv")

In [6]:
new_merchant_transactions.head(2)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19

In [ ]:
new_merchant_transactions.shape

In [ ]:
merchants.head(2)

In [ ]:
merchants.columns

In [ ]:
merchants.columns